@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add this to your main CSS file */
@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-30px); /* Adjust this for a higher/lower bounce */
  }
}